# Render Backend Environment Variables
PORT=5001
MONGO_URI=mongodb+srv://SANJU386:S%40nju12345@sanju.kdjrh0n.mongodb.net/dsa_tracker?appName=SANJU
DAILY_TARGET=5
JWT_SECRET=super_secret_jwt_key_leetpulse_faang_2026_dsa

# Gmail SMTP Settings for OTP emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=sirshendubera386@gmail.com
SMTP_PASS=zwikcmgqxldksxlk
SENDER_NAME="LeetPulse Verification"
SENDER_EMAIL=sirshendubera386@gmail.com
